header{
    background: $bgHeader;
    grid-area: header;
    border-top: solid 1px  #BF1363;
    border-bottom: solid 1px  #BF1363;
    z-index: 1;
    h1 {
        font-family: $soloRapTit;
        font-weight: 900;
        font-size: 2.4em;
        color: whitesmoke;
    }
    .agrandarLogo {
        width:  70px;
        height: 70px; 
        margin-left: 15% ;
        border: 1px solid rgb(70, 3, 3);
    }   

    div { 
        ul {
            .letraMenu {
                font-size: 1.1em;  
                .agrandarItemMenu {
                    transition: transform ease-in-out 350ms ;
                    color: black;
                    font-weight:500;
                    &:hover {
                        transform: scale(1.4);
                        color: $bgSection1Bases;
                        ;
                    }
                }  
            } 
        } 
    }
}
          