@import "variables";
@import "header";
@import "footer";


@for $a from 1 through 5{
    .padding-#{$a}{
        padding: (1.5px * 2)*$a;
    }
}

/* Contenido (main) de las paginas*/

.section1Index {
   background-color: $bgsectionIndex;
   .carrouselIndex {
        width:370px;
        margin: 0 auto;
        div {
            #h2Index {
                font-size: $tamanoFuente*1.2;
                font-family: $robotoTitulo;
                font-weight:bold;
                letter-spacing: 1px;
                color:darkgoldenrod;
            }
        }
        .carousel-inner {
            .bordeCarousel {
                a{
                    img {
                        border-radius: 10px;
                    }
                }
                div {
                    .tituloNoticiaCarrousel {
                        font-family: $robotoTitulo;
                        color: whitesmoke;
                        font-weight: 600;
                        line-height: 1.4em;
                        font-size: 1em;
                    }
                }   
            }
        }
}
.noticia {
    background-color: $bgacordeonIndex;
    .tituloNoticia {
        font-size: 1.2em;
        font-family: $robotoTitulo;
        color:rgb(209, 135, 39);
        font-weight: 600;
        line-height: 1.5em;
        text-align: center;
    }
    .articleIndex{
        font-family: $notoTextos;
        font-size: .8em;
        line-height: 1.6em;
    }
}
}
#sectionIndex {
    background: $bgasideIndex ;
    div {
        h3 {
            color: green ;
            font-family: $robotoTitulo;
            font-size: 1.8rem;
            font-weight: bold ;
        }
    }
    div {
        .tamanoVideo__index {
            padding-top: 1rem ;
            margin-left: 1rem;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (min-width: 450px) {
    .section1Index {
        .carrouselIndex {
             width:440px;
        }
    }
 }
@media screen and (min-width: 576px) {
    div {
        .tamanoVideo__index {
            width: 15rem;
            padding-top: 1rem ;
            margin-left: 1rem;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (min-width: 750px) {
    .section1Index {
        .carrouselIndex {
             width:500px;
             .carousel-inner {
                .tamanoCarrousel {
                    .carousel-caption {
                        position: absolute;
                        left: 7.5%;
                        right: 7.5%;
                        .tituloNoticiaCarrousel {
                            font-family: $robotoTitulo;
                            color: whitesmoke;
                            font-weight: 600;
                            line-height: 1.4em;
                            font-size: 1.5em;
                        }
                    }
                } 
            }
        }
    .noticia {
        .tituloNoticia {
            font-family: $robotoTitulo;
            font-size: 1.4em;
        }
        .articleIndex {
            font-family: $notoTextos;
            font-size: 1em;
        }
    }
}
}
@media screen and (min-width: 768px) {
    div {
        .tamanoVideo__index {
            width: 20rem;
            padding-top: 1rem ;
            margin-left: 1rem;
            margin-bottom: 1rem;
        }
    }
}
@media screen and (min-width: 1000px) {
    #asideIndex {
        div {
            .tamanoVideo__index {
                width: 16rem;
                padding-top: 1rem ;
                margin-left: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}
@media screen and (min-width: 1100px) {
    .section1Index {
        .carrouselIndex {
            width:700px;
            margin: 0 auto;
        }
    .noticia {
        .tituloNoticia {
            font-family: $robotoTitulo;
            font-size: 1.6em;
        }
        .articleIndex {
            font-family: $notoTextos;
            font-size: 1.1em;
        }
    }
}
}
/* mobile first- BS - Musica*/

.fondoMusica {
   background: $bgfondoMusica;
   min-height: 55vh;
    div{ 
        .tituloMusica {
            font-family: $robotoTitulo;
            font-weight: bold;
            font-size: 1.5em;
            color:maroon;
            letter-spacing: 1.5px;
            animation-name: animacion;
            animation-iteration-count:infinite;
            animation-timing-function: ease-in;
            animation-duration: 4s;
            animation-delay: 2s;
        }
    }
    .parrafoArtistas {
        font-family: $notoTextos;
        font-size: .8em;
        color:black ;
        font-weight: normal;
    }     
}
div {
    .artistasMusica {
        font-family: $soloRapTit;
        font-size: 1.4em;
    }
    a {
        .imagenes {
            width: 300px; 
            height: 200px;
            border: teal 4px solid;
            opacity: 0.5;
            &:hover {
                transform: scale(1.05);
                transition: all 200ms;
                border:rgb(70, 3, 3) solid 4px;
                opacity: 1;
            }
        }
    }
    ul {
        list-style: none;
        .negrita {
            font-weight: 600;
            color: brown;
            position: relative;
            margin-top: .8em;
            &::after {
                content: url(../logos_redes/spotify.svg);
                position: absolute;
                right:4em;
            }
        }
        li {
            .temasMusica {
                color: black;
                text-decoration: none;
                margin-top: 1em;
                &:hover {
                    color: crimson;
                }
            }
        }
    } 
}
@media screen and (max-width:576px) {
    .titulo__musica {
        text-align: center;
    }
}

               /*CONTACTOS*/

.fondoContacto {
    background-color: $bgformulario;
    .tituloContacto {   
        font-family: $robotoTitulo; 
        color: #ba0e2a;
        font-weight: normal;
        word-spacing: 0.2em;
        }
    div {
        background-image: url(../imagenes/fotorapContacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:inherit;
        background-position: center bottom;
        border: 1px solid rgb(27, 89, 146);
        border-radius: 3%;
        padding: 15px;
        opacity: 0.8;
        .parrafoContacto {
            font-family: $notoTextos;
            color: whitesmoke;
            text-align:justify;
            line-height: 30px;
            word-spacing: .5rem;
        }     
    }
}
#fondoForm { 
   background-color: $bgformulario;
   form {
    max-width: 500px;
    .btn {
        background-color:rgb(68, 101, 134);
        color:whitesmoke;
        border:rgb (27, 89, 146)  1px solid ;
    }
    }
}

            /* BASES */ 
 
#section1Bases {
                background: $bgSection1Bases;
}
.sectionArriba {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around ;
    align-items: center;
    .__animacion {
        color: #c84b31;
        font-family: $robotoTitulo;
        font-weight: bolder;
        font-size: 1.5em;
        letter-spacing: 2px;
        margin: auto;
        width: 200px;
        animation-name: animacion;
        animation-iteration-count:infinite;
        animation-timing-function: ease-in;
        animation-duration: 4s;
        animation-delay: 2s;
    }
                @keyframes animacion {
                    0% { width: 200px; }
                    50% { width: 300px;
                      color: red; }
                    100% { width: 200px;
                      color:green; }
                }
.borderBases {
    border-bottom: 2px solid rgb(114, 16, 16);
    margin-bottom: 10px;
}
div {
    .tituloBases {
        font-size: 1.4em;
        font-family: $robotoTitulo;
        font-weight: 800;
        color:darkgoldenrod ;
        text-align: center;
    }
    div {
        .descripcionBases {
            color: maroon;
            font-family: $robotoTitulo ;
            font-size: 1.4em;
            font-weight: 700;
        }
        .artistasBases {
            text-decoration: none;
            color: black;
            font-family: $soloRapTit;
            line-height: 1.5em;
                &:hover {
                    color:crimson;
                }
        }
    }
}    
}

@media only screen and (min-width:1200px) { 
    .videosBases {
        width: 350px;
        height: 230px;
    }
    div {
        .descripcionBases {
            font-size: 2em;
        }
        .artistasBases {
            font-size: 1.2em;
            }
    }
}

            /*FMS*/
.fondo1Fms {
    background: $bg1Fms;
    .sectionArriba{
                    .tituloFms {
                        color:darkslateblue;
                        font-size: 1.4em;
                        font-weight: bold;
                        font-family: $robotoTitulo;
                    }
    }
    .parrafoFms {
        font-family: $notoTextos ;
        font-size: .8em;
        word-spacing: 1px;
        line-height: 1.2rem;
        padding-bottom: 1%;
    }
}
#fondo2Fms {
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #f3edb1;
}

.tituloVideosFms {
    font-family: $robotoTitulo;
    font-weight: 800;
    text-align: center;
    color:#c84b31 ;
}
#imagenesFmsIzq img , #imagenesFmsDer img { 
    width: 200px;
    border-radius: 10px;
    border-style: solid;
    border-color: tomato;
}
#imagenesFmsIzq img {
    margin-bottom: 3px;
    margin-top: 3px;
}
#imagenesFmsDer img {
    margin-top: 5px;
    margin-bottom: 4px;
    margin-right: auto;
}
@media only screen and (min-width:990px) { 
    .achicarVideosFms {
        width: 235px;
        height: 200px;
    }
}     
@media only screen and (min-width:1200px) { 
    .achicarVideosFms {
        width: 280px;
        height: 200px;
    }
    #imagenesFmsIzq img , #imagenesFmsDer img { 
        width: 220px;
    }
} 
@media only screen and (min-width:1300px) { 
    .achicarVideosFms {
        width: 310px;
        height: 200px;
    }
    #imagenesFmsIzq img , #imagenesFmsDer img { 
        width: 240px;
    }
}           
           
 



